**/xcshareddata/WorkspaceSettings.xcsettings
*.dSYM
*.dSYM.zip
*.hmap
*.ipa
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
*.xccheckout
*.xcodeproj/*
*.xcscmblueprint
*.xcworkspace
._*
.accio/
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.build/
.com.apple.timemachine.donotpresent
.DocumentRevisions-V100
.DS_Store
.fseventsd
.LSOverride
.Spotlight-V100
.swiftpm/xcode
.TemporaryItems
.Trashes
.VolumeIcon.icns
/*.gcno
build/
Carthage/Build
Carthage/Checkouts
Dependencies/
DerivedData/
fastlane/Preview.html
fastlane/report.xml
fastlane/screenshots/**/*.png
fastlane/test_output
Icon
iOSInjectionProject/
Network Trash Folder
Packages/
playground.xcworkspace
Temporary Items
timeline.xctimeline
xcuserdata/